@media screen and (min-width: 800px) {
    .form fieldset legend {
        text-align: center;
    }

    input[type=number] {
        width: 30rem;
        padding-left: 1rem;
    }
    input[type=number]:focus {
        padding: 0 1rem 0 2rem;
    }
    
    .input-container,
    .label-container {
        flex-direction: row;
    }

    .input-container {
        justify-content: space-between;
        gap: 2rem;
    }

    .label-container {
        gap: .4rem;
    }

    label {
        margin: 0;
    }
    
    .input-container:has(input[type=number]:focus) label {
        font-weight: lighter;
        color: var(--primary-color);
    }
}