@media screen and (min-width: 600px) {
    .header-top_buttonNavegation {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-menu {
        background-color: #FFF;
        display: flex;
        gap: .4rem;
        position: inherit;
    }
    .header-menu a {
        padding: .45rem 1rem;
        margin: 0;
        border-radius: 4px;
    }
    .header-menu a:hover {
        background-color: var(--primary-color);
    }

    .hero {
        display: block;
    }
    .hero_content {
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    .form {
        background: #eee9;
    }

    .input-container img {
        width: 2rem;
        display: block;
    }

}
